extends layouts/app 

block seo 
  title About - Facebook Clone
  meta(property='og:title', content='About - Facebook Clone')
  meta(name='description', content='About - Facebook Clone')
  meta(property='og:description', content='About - Facebook Clone')
  meta(property='og:image', content='https://elosiemano.netlify.app')
  meta(name='twitter:card', content='summary_large_image')
  meta(property='og:site_name', content='EloSiamano')
  meta(name='twitter:image:alt', content='This is a facebok clone')
  meta(name='twitter:site', content='@codingphase')
  meta(property='og:url', content='https://elosiemano.netlify.app')
  link(rel="canonical" href="/about")
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">

block content
  #about-page 
    h1 About Page 
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, doloribus quaerat. Asperiores facere mollitia ea numquam id voluptatem dicta beatae. sit amet consectetur adipisicing elit. Optio, doloribus quaerat. Asperiores facere mollitia ea numquam id voluptatem dicta beatae.
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, doloribus quaerat. Asperiores facere mollitia ea numquam id voluptatem dicta beatae. sit amet consectetur adipisicing elit. Optio, doloribus quaerat. Asperiores facere mollitia ea numquam id voluptatem dicta beatae.
  script(src='/js/dist/main.js')